.footer {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem auto 5rem;
}

.footer-title {
    padding: 2rem;
    font-weight: 700;
}

.footer p {
    font-weight: 700;
    font-size: 18px;
}

.contats {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    margin: 2rem;
}

.contats a {
    text-decoration: none;
    text-align: center;
    padding: 0 1.5rem 0.5rem;
}

.contats a span {
    text-align: center;
    color: var(--bg-color);
    font-size: 3rem;
}

.contats a span i {
    font-size: 3rem;
    color: var(--primary-color);
}

@media only screen and (max-width: 425px) {
    .contats {
        gap: 0.8rem;
        padding: 1.4rem;
        align-items: baseline;
    }

    .contats a span {
        font-size: 1.4rem;
        font-weight: 700;
    }
}